/* -- CSS imported from example -- */


/*@import "compass/css3";
html,
body {
    height: 100%;
}

body {
    background-image: radial-gradient(ellipse at top, white, #bdc3c7 80%);
    font-family: 'Open Sans', sans-serif;
}

#player {
    transition: all 500ms ease;
    position: relative;
    margin: 0 auto;
    height: 250px;
    #cover {
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        box-shadow: 0px 0px 30px 0px rgba(black, 0.5);
        &:after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: 50%;
            background-image: linear-gradient(-180deg, rgba(white, 0.5), transparent 90%);
            transform: skewX(-45deg);
            transform-origin: top left;
        }
        img {
            display: block; // remove unwanted space on the bottom of the image
        }
    }
    #record {
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 250px;
        box-shadow: 0px 0px 5px 0px rgba(black, 0.5);
    }
    #trackInfos {
        transition: all 500ms ease;
        box-sizing: border-box;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1rem;
        background-color: rgba(black, 0.8);
        color: white;
        opacity: 0;
        &:hover {
            opacity: 1;
        }
        .now {
            font-size: 0.8rem;
            color: #7f8c8d;
            margin-bottom: 0.5rem;
        }
        #band {
            text-transform: uppercase;
        }
        #track {
            font-weight: 300;
            color: #bdc3c7;
        }
        #play {
            position: absolute;
            top: calc(50% - 2.5rem);
            left: 0;
            display: block;
            width: 100%;
            height: 5rem;
            line-height: 5rem;
            text-align: center;
            font-size: 5rem;
            color: rgba(white, 0.5);
        }
    }
}

.closed {
    width: 250px;
}

.open {
    width: 350px;
}

.spinning {
    @include animation(turntable 4s linear infinite);
}

@keyframes turntable {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes turntable {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@-moz-keyframes turntable {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@-o-keyframes turntable {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.streamew {
    text-align: center;
    margin-top: 5rem;
    color: #7f8c8d;
    a {
        color: #3498db;
        text-decoration: none;
    }
}*/


/* -- Added CSS -- */


/*#top-half {
    background-image: url(http://www.edmsauce.com/wp-content/uploads/2013/05/5269444_300.jpg);
}*/

body {
    background-color: #FC3F08;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family: monospace;
    color: white;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-family: monospace;
    color: white;
}

p {
    font-weight: bold;
    font-size: 1.5em;
    font-family: monospace;
    color: white;
}

#fine-print {
    font-size: 0.5em;
    color: white;
}

#search-section {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0.5em;
}

#search {
    font-size: 2em;
    width: 30%;
    height: 1.5em;
    text-align: center;
    border: 2px solid black;
}

#og-button {
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1.5em;
}

#playButton {
    padding: 0.75em;
    font-size: 1em;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#artwork {
    display: block;
}


/*a {
    margin-left: auto;
    margin-right: auto;
}*/

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/*#button-center {
    margin-left: auto;
    margin-right: auto;
}*/


/*li {
    list-style-type: none;
}*/

@media only screen and (max-width: 729px) {
    #search-results ul#results {
        overflow: hidden;
        margin-top: 0.5em;
        list-style: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    #search-results li {
        /*margin: 0em;*/
        padding: 1em;
        border: 4px solid white;
        border-bottom-width: 1px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #search-results li img {
        display: block;
        max-width: 100%;
    }
    #search-results li p {
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 2px solid gray;
        max-width: 100%;
    }
}


/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/


/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles bellow this line
*/

@media only screen and (min-width: 730px) {
    #search-results ul#results {
        overflow: hidden;
        margin-top: 0.5em;
        list-style: none;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    #search-results li {
        float: left;
        margin: 0em;
        padding: 1em;
        width: 45%;
    }
    #search-results li img {
        display: block;
        max-width: 100%;
        width: 300px;
    }
    #search-results li p {
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 2px solid gray;
        max-width: 100%;
    }
}

@media only screen and (min-width: 1216px) {
    #search-results ul#results {
        overflow: hidden;
        margin-top: 0.5em;
        list-style: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    #search-results li {
        float: left;
        margin: 0em;
        padding: 1em;
        width: 30%;
    }
    #search-results li img {
        display: block;
        max-width: 100%;
    }
    #search-results li p {
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 2px solid gray;
        max-width: 100%;
    }
}
