body {
    background-color: #FC3F08;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family: monospace;
    color: white;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-family: monospace;
    color: white;
}

p {
    font-weight: bold;
    font-size: 1.5em;
    font-family: monospace;
    color: white;
}

#fine-print {
    font-size: 0.5em;
    color: white;
}

#search-section {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0.5em;
}

#og-button {
    padding: 0.25em;
    border-radius: 10px;
    font-size: 1.75em;
    text-align: center;
    background-color: black;
    color: white;
}

.play-button {
    margin-top: 1em;
    padding: 0.75em 0em;
    border-radius: 10px;
    font-size: 1.25em;
    text-align: center;
    background-color: black;
    color: white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
}

.close-button {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    background-color: black;
    color: white;
}

a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
.pointer {
    cursor: pointer;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.embeded,
#message {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

a.page-scroll {
    transition: all 0.5s;
}


/* -- Media Queries --*/

@media only screen and (max-width: 815px) {
    #search-results ul#results {
        overflow: hidden;
        margin-top: 0.5em;
        list-style: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    #search-results li {
        padding: 1em;
        border: 4px solid white;
        border-bottom-width: 1px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #search-results li img {
        display: block;
        max-width: 100%;
    }
    #search-results li p {
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 2px solid white;
        color: black;
        max-width: 100%;
    }
    .footer {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }
    #search {
        font-size: 1.75em;
        width: 60%;
        height: 1.75em;
        text-align: center;
        border: 2px solid black;
    }
}

@media only screen and (min-width: 816px) {
    #search-results ul#results {
        overflow: hidden;
        margin-top: 0.5em;
        list-style: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    #search-results li {
        float: left;
        margin: 0em;
        padding: 1em;
        width: 45%;
    }
    #search-results li img {
        display: block;
        max-width: 100%;
        width: 300px;
    }
    #search-results li p {
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 2px solid white;
        color: black;
        max-width: 100%;
        height: 30px;
    }
    .footer {
        width: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    #search {
        font-size: 2em;
        width: 60%;
        height: 1.4em;
        text-align: center;
        border: 2px solid black;
    }
}

@media only screen and (min-width: 1216px) {
    #search-results ul#results {
        overflow: hidden;
        margin-top: 0.5em;
        list-style: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    #search-results li {
        float: left;
        margin: 0em;
        padding: 1em;
        width: 30%;
    }
    #search-results li img {
        display: block;
        max-width: 100%;
    }
    #search-results li p {
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 2px solid white;
        color: black;
        max-width: 100%;
        height: 30px;
    }
}
